video {
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    top: 0;
    left: 0;
}

canvas {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}